<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/static/main.css'/>
    <title>Upload</title>
</head>
<body>
    <h1>Upload New Images</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
</body>
<button type="Back Home"><a href="/">Back Home</a></button>
    <button type="Link to Cisco Database"><a href="https://software.cisco.com/download/home" target="_blank" rel="noopener noreferrer">Link to Cisco Database</a></button>
    <button type="Edit Database"><a href="/edit_database">Back to Database</a></button>
</html>