<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/static/main.css'/>
    <title>Upload</title>
</head>
<script>
var error = "{{error}}";
var success = "{{success}}";

if (error) {
    alert(error);
} else if (success) {
    alert(success);
}

</script>
<body>
    <h1>Upload New Images</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" name="Submit" value="Upload">
        <input type="submit" name="Submit" value="Back Home">
        <input type="submit" name="Submit" value="Back to Database">
    </form>
    <form method="POST" target="_blank" rel="noopener noreferrer">
        <input type="submit" name="Submit" value="Link to Cisco Database">
    </form>

</body>
</html>