body {
    background-color: #212529; /* Bootstrap dark background */
}

.card {
    border: 1px solid #495057; /* Slightly lighter border for cards */
}

/* Custom styles for hidden fields to work with Bootstrap */
#tftp_ip_field,
#cfg_file_field {
    display: none;
}