body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff; /* White background */
}

form {
    display: inline-block;
    text-align: left;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
select {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#tftp_ip_field,
#cfg_file_field {
    display: none;
    margin-bottom: 10px;
    margin-right: 65px;
	width: 100%
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-right: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}